<%= form_with(model: @micropost, local: true) do |f| %>
  <%# フォームを作る時に参照した@micropostの内容がobjectというローカル変数にが代入され、パーシャル先で参照される　%>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>